/****************************** Everything **************************/
/*************************** for small screen **************************/

body {
font-family: 'Yatra One', cursive;
  margin: 0;
}

h1{
  color: white;
  text-align: center;
}

h2{
  text-align: center;
  color: slateblue;
}

h4{
margin: 2em 0em;
}


/****************************** NAV BAR *************************************/
/******************************        *************************************/
.navbar {
  background-color: darkslateblue;
}
/* Links inside the navbar */
.navbar a {
  font-size: 1.2em;
}
/* Change background on mouse-over */
.navbar a:hover {
  background: white;
  color: black;
}

/****************************** Parallax effect ****************************/
/******************************                 ****************************/
body, html {
  height: 100%;
}

.main-wrapper{
  background-color: ;
}

.listenparallax {
  background-image: url("../pics/vynil.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: slateblue;
}

/****************************** Home section ******************************/
/******************************              *******************************/
.imageshome{
  margin-top: 4em;
}

/* adapt carousel size acording to screen */

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-screen.piano{
  background-position: left;
}

/****************************** About section ******************************/
/******************************              *******************************/

.aboutparallax {
  background-image: url("../pics/piano.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: slateblue;
}

.text{
background-color: white;
opacity: .8;
padding: 1em;
color: slateblue;
margin-top: 2em;
margin-bottom: 2em;
text-align: center;
}

.text1{
  background-color: white;
  opacity: .8;
  padding: 1em;
  color: slateblue;
  margin-top: 2em;
  margin-bottom: 0;
  text-align: center;
}

/****************************** Listen section ******************************/
/******************************              *******************************/
.videolisten{
  text-align: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 100%;
}

.audiolisten{
  padding: 25px 0;
  grid-template-rows: repeat(12, minmax(0, 1fr));
  text-align: center;
  font-size: 1.2em;
}
audio{
  margin: auto;
  margin-bottom: 1em;
}
img{
 width: 100%;
}
.picslisten{
  width: 70%;
}

/****************************** Watch section ******************************/
/******************************              *******************************/
.watchparallax {
  background-image: url("../pics/filming.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: slateblue;
  display: grid;
}
video{
  width: 100%;
}
.watchvid{
  text-align: center;
  font-size: 1.2em;
}

.linkwatch{
color: white;
}

/****************************** Contact section ******************************/
/******************************              *******************************/
.contactform{
  margin: 4.2em 4em;
  text-align: center;
}
.contactbkg{
  background-image: url(../pics/purplebackground.png);
  height: 100%;
  width: 100%;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/****************************** Footer *************************************/
/******************************        ************************************/

footer{
    background-color: darkslateblue;
    color: white;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    bottom: 0;
}

.logos{
width: 40px;
}


/******************************               ******************************/
/******************************               ******************************/
/****************************** MEDIA QUERIES ******************************/
/******************************              *******************************/
/******************************               ******************************/




/* Everything for big screen */

@media only screen and (min-width: 992px) {

  /****************************** Everything **************************/
  /******************************                **************************/
  h2{
    font-size: 2em;
  }
  /****************************** Header *************************************/
  /******************************        *************************************/
  h1{
    font-size: 2.5em;
    margin: 10px;
  }
  h4{
  margin: 2em 0em;
  }

  /****************************** Home section ******************************/
  /******************************              *******************************/
  .imageshome{
    margin-top: 4em;
  }
  .carousel-item{
  height: 45.5em;
  }

  /****************************** About section ******************************/
  /******************************              *******************************/

  .aboutparallax {
    background-image: url("../pics/piano.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: slateblue;
  }
  .past{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .berklee{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .frost{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    text-align: center;
  }

  .text{
  background-color: white;
  opacity: .8;
  padding: 2em;
  color: slateblue;
  margin-top: 2em;
  margin-bottom: 2em;
  }
  .text1{
    background-color: white;
    opacity: .8;
    padding: 2em;
    color: slateblue;
    margin-top: 2em;
    margin-bottom: 0;
  }

  /****************************** Listen section ******************************/
  /******************************              *******************************/
  .videolisten{
    text-align: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .audiolisten{
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    text-align: center;
    margin-top: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }
.vidsize{
  width: 80%;
}
  audio{
    margin: auto;
    margin-top: 4em;
  }
  img{
    margin:auto;
  }

  #roof{
  grid-column-start: 1;
  grid-row-start: 1;
  }
  #run, #title1{
  grid-column-start: 1;
  grid-row-start: 2;
  }
  #heldegard1{
  grid-column-start: 2;
  grid-row-start: 1;
  }
  #heldegard, #title4{
  grid-column-start: 2;
  grid-row-start: 2;
  }
  #nematron{
  grid-column-start: 3;
  grid-row-start: 1;
  }
  #nematron1, #title3{
  grid-column-start: 3;
  grid-row-start: 2;
  }
  #alien{
  grid-column-start: 1;
  grid-row-start: 3;
  }
  #alien1, #title2{
  grid-column-start: 1;
  grid-row-start: 4;
  }
  #vangardia{
  grid-column-start: 2;
  grid-row-start: 3;
  }
  #vangardia1, #title5{
  grid-column-start: 2;
  grid-row-start: 4;
  }
  #space{
  grid-column-start: 3;
  grid-row-start: 3;
  }
  #travel, #title6{
  grid-column-start: 3;
  grid-row-start: 4;
  }

  /* TITLES ALIGN */

  #title1, #title2, #title3, #title4, #title5, #title6{
  align-items:baseline;
  }

  /****************************** Watch section ******************************/
  /******************************              *******************************/
  .watchparallax {
    background-image: url("../pics/filming.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: slateblue;
    display: grid;
  }

  .watchvid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .linkwatch{
  color: white;
  }

  #titlevid1, #titlevid2, #titlevid3, #titlevid4{
  align-items:baseline;
  }

  #packagevid{
  grid-column-start: 1;
  grid-row-start: 1;
  }
  #titlevid1{
  grid-column-start: 1;
  grid-row-start: 2;
  }
  #purplevid{
  grid-column-start: 2;
  grid-row-start: 1;
  }
  #titlevid2{
  grid-column-start: 2;
  grid-row-start: 2;
  }
  #finalsvid{
  grid-column-start: 1;
  grid-row-start: 3;
  }
  #titlevid3{
  grid-column-start: 1;
  grid-row-start: 4;
  }

  /****************************** Footer *************************************/
  /******************************        ************************************/

  footer{
      background-color: darkslateblue;
      color: white;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 5px;
      text-align: center;
      bottom: 0;
  }

}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 600px) {
  .navbar a{
    float: none;
    display: block;
  }

  .navbar-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


/* put images as 100% for width, then put them in a div and make the div 50% of the screen's width and then make it margin 0 and auto to center it to keep everything proportional as the screen size changes */

/* @media only screen and (max-width:860px){
#navbar{
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="listen.html">Listen</a></li>
    <li><a href="watch.html">Watch</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
} */







/****************************** SLIDESHOW HOME **************************/
/******************************                **************************/
