.container{
text-align: center;
}

h1{
  font-size: 3em;
  color: #2196F3;
}

h2{
  padding-left: 0.7em;
  padding-top: 1em;
  color: #2196F3;
  text-align: left;
}

p{
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

#contact{
  color: white;
  text-align: center;
}

.mullet{
  width: 100%;
}

.fort{
  width: 100%;
}

#menu{
  width: 8em;
  position: fixed;
  z-index: 1;
  top: 7.5em;
  left: .7em;
  background: #eee;
  overflow-x: hidden;
  padding: .5em 0;
}
#menu a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

a:hover{
  background-color: white;
}

.everything-else{
  margin-left: 8.75em;
}

footer{
    grid-row:13;
    background-color: grey;
    color: white;
    padding-bottom: 20px;
}

.bottom{
    grid-row:13;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2.5em;
}

address{
  justify-self: end;
}

.social-media{
    justify-self: start;
}

@media only screen and (min-width:480px){

.history-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1em;
}

.nightlife-grid{
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.daytime-grid{
  display: grid;
  padding: 1.5em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.about-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1em;
}
}

@media only screen and (max-width:860px){

  .daytime-pics{
    width: 300px;
    padding: 10px;
  }

  .nightlife-grid img {
      width: 300px;
      padding: 10px;
  }
}


@media only screen and  (min-width:1200px){
  .daytime-pics{
    width: 450px;
    padding: 10px;
  }

  .nightlife-grid img {
      width: 450px;
      padding: 10px;
  }
  h1{
    color: crimson;
  }
  #menu a{
    color: crimson;
  }
  h2{
    color: crimson;
  }
}
