main{
  display: grid;
  /* padding: 25px; */
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.content{
  grid-row: 2;
}
header{
  grid-row: 1;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 1em;
  color: chocolate;
}
body{
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
}
h2{
  margin-left: 100px;
  padding-top: 2em;
}
p{
  margin-left: 100px;
}
li{
  margin-left: 50px;
}
button{
  margin-left: 100px;
  background: chocolate;
  padding: .3rem .5rem;
  font-size: 20px;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
button:hover{
  background: lightsalmon;
}
.conversion{
  margin-left: 40px;
}
.servings{
  margin-left: 100px;
  padding-top: 100px;
}
.hide{
  display: none;
}
.intro{
  background-image: url(../pics/homepic.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;

  color: white;
}
.utensils{
  background-image: url(../pics/utensils.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.ingredients{
  background-image: url(../pics/ingredients1.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.preheat{
  background-image: url(../pics/oven1.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;

  color: white;
}
.dough-making{
  background-image: url(../pics/rolldough.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.caramel-making{
  background-image: url(../pics/caramel.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.apples{
  background-image: url(../pics/apples.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;

  color: white;
}
.pie{
  background-image: url(../pics/pieoven.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;

  color: white;
}
.serve{
  background-image: url(../pics/glace.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
