h1{
  font-size: 2em;
}
header{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 1em;
  color: chocolate;
}
body{
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
}
h2{
  margin-left: 100px;
  padding-top: 2em;
}
p{
  margin-left: 100px;
}
li{
  margin-left: 50px;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
button{
  margin-left: 100px;
  background: chocolate;
  padding: .3rem .5rem;
  font-size: 20px;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
button:hover{
  background: lightsalmon;
}
.conversion{
 background: seashell;
 color: chocolate;
}
.conversion:hover{
  background: lightsalmon;
  color: white;
}
.hide{
  display: none;
}
.intro{
  background-color: lightblue;
  background-image: url(../pics/homepic.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.first{
 grid-column: 2;
 grid-row: 2;
 margin:0;
 padding:0;
}
.step1{
  margin:0;
}
.utensils{
  background-color: lightpink;
  background-image: url(../pics/utensils.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 1.5em;
}
.ingredients{
  background-color: beige;
  background-image: url(../pics/ingredients1.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 1.5em;
  padding: none;
  margin: none;
}
.board{
  display: grid;
  padding: none;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-column: 1;
}

.preheat{
  background-color: lightgrey;
  background-image: url(../pics/oven1.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
  color: white;
}
.dough-making{
  background-color: seashell;
  background-image: url(../pics/rolldough.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
}
.caramel-making{
  background-color: lightgreen;
  background-image: url(../pics/caramel.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
}
.apples{
  background-color: lightsteelblue;
  background-image: url(../pics/apples.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
  color: white;
}
.pie{
  background-color: lightcoral;
  background-image: url(../pics/pieoven.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
  color: white;
}
.serve{
  background-color: lightseagreen;
  background-image: url(../pics/glace.jpg);
  background-size:cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  font-size: 2em;
}
.gr{
  color: chocolate;
}
.cup{
  color: chocolate;
}


@media only screen and (min-width:860px){
  .breaktitle{
    display: none;
}


@media only screen and  (min-width:1200px){
  h1{
    font-size: 3em;
  }

  }
}
