.hide{
  display: none;
}
header{
  text-align: center;
}
body{
  margin:0;
  padding:0;
}
img{
  width: 100%;
}
.intro{
  background-image: url(../pics/homepic.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.utensils{
  background-image: url(../pics/utensils.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.ingredients{
  background-image: url(../pics/ingredients1.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.preheat{
  background-image: url(../pics/oven1.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.dough-making{
  background-image: url(../pics/rolldough.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.caramel-making{
  background-image: url(../pics/caramel.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.apples{
  background-image: url(../pics/apples.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.pie{
  background-image: url(../pics/pieoven.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
.serve{
  background-image: url(../pics/glace.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}
