/* Everything */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h2{
  text-align: center;
  color: orange;
  margin-top: 3.5em;
  margin-bottom: 1em;
}
/* header */
h1{
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin: 10px;
}
h4{
margin: 2em 0em;
}
/* The navigation bar */
.navbar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  background-color: orange;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
}
/* Links inside the navbar */
.navbar a {
  text-align: center;
  display: block;
  color: white;
  font-size: 1.2em;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* parallax effect */
body, html {
  height: 100%;
}

.main-wrapper{
  background-color: ;
}

.listenparallax {
  background-image: url("../pics/studio.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: orange;
}
/* Main content */
.main {
  margin-top: 2em; /* Add a top margin to avoid content overlay */
}

/* Home section */
.imageshome{
  margin-top: 4em;
}
.text{
background-image: url(../pics/orange.jpg);
padding: 2em;
color: white;
margin-top: 2em;
margin-bottom: 2em;
}
.text1{
  background-image: url(../pics/orange.jpg);
  padding: 2em;
  color: white;
  margin-top: 2em;
  margin-bottom: 0;
}
/* background white box section */
/* .whitebox{
width: 60%;
max-width: 1280px;
color: orange;
background: rgba(255, 255, 255, 0.5);
margin: 0 auto;
} */

/* About section */
.past{
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.berklee{
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.frost{
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  text-align: center;
}

/* listen section */
.videolisten{
  text-align: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.audiolisten{
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  text-align: center;
  margin-top: 2em;
  padding-left: 10px;
  padding-right: 10px;
}
audio{
  margin: auto;
  margin-top: 4em;
}
img{
  margin:auto;
}

#roof{
grid-column-start: 1;
grid-row-start: 1;
}
#run, #title1{
grid-column-start: 1;
grid-row-start: 2;
}
#heldegard1{
grid-column-start: 2;
grid-row-start: 1;
}
#heldegard, #title2{
grid-column-start: 2;
grid-row-start: 2;
}
#nematron{
grid-column-start: 3;
grid-row-start: 1;
}
#nematron1, #title3{
grid-column-start: 3;
grid-row-start: 2;
}
#alien{
grid-column-start: 1;
grid-row-start: 3;
}
#alien1, #title4{
grid-column-start: 1;
grid-row-start: 4;
}
#vangardia{
grid-column-start: 2;
grid-row-start: 3;
}
#vangardia1, #title5{
grid-column-start: 2;
grid-row-start: 4;
}
#space{
grid-column-start: 3;
grid-row-start: 3;
}
#travel, #title6{
grid-column-start: 3;
grid-row-start: 4;
}

/* TITLES COMING */

#title1, #title2, #title3, #title4, #title5, #title6{
align-items:baseline;
}

/* Contact section */
.contactform{
  margin: 8em 7em 4em 7em;
}
.contactbkg{
  background-image: url(../pics/orange.jpg);
  background-size:cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  /* position: fixed; */
}

/* footer */

footer{
    background-color: darkorange;
    color: white;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    bottom: 0;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
/* @media screen and (max-width: 600px) {
  .navbar a{
    float: none;
    display: block;
  }

  .navbar-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
} */



/* put images as 100% for width, then put them in a div and make the div 50% of the screen's width and then make it margin 0 and auto to center it to keep everything proportional as the screen size changes */

/* @media only screen and (max-width:860px){
.navbar{
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="listen.html">Listen</a></li>
    <li><a href="watch.html">Watch</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
} */







/****************************** SLIDESHOW HOME **************************/
/******************************                **************************/
