body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: crimson;
  color: white;
}

/* footer */

footer{
    grid-row:13;
    background-color: #333;
    color: white;
    padding-bottom: 20px;
}

.bottom{
    grid-row:13;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2.5em;
}




/* put images as 100% for width, then put them in a div and make the div 50% of the screen's width and then make it margin 0 and auto to center it to keep everything proportional as the screen size changes */

/* @media only screen and (max-width:860px){
.topnav{
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="listen.html">Listen</a></li>
    <li><a href="watch.html">Watch</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
} */
