/* Everything */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
h1{
  color: hotpink;
  text-align: center;
}
/* The navigation bar */
.navbar {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  background-color: hotpink;
  position: fixed;
  top: auto;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* footer */

footer{
    grid-row:13;
    background-color: #333;
    color: white;
    padding-bottom: 20px;
}

.bottom{
justify-content: center;
    /* grid-gap: 2.5em; */
}

.social-media{
  justify: center;
}

@media screen and (max-width: 600px) {
  .navbar a{
    float: none;
    display: block;
  }

  .navbar-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}



/* put images as 100% for width, then put them in a div and make the div 50% of the screen's width and then make it margin 0 and auto to center it to keep everything proportional as the screen size changes */

/* @media only screen and (max-width:860px){
.topnav{
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="listen.html">Listen</a></li>
    <li><a href="watch.html">Watch</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
} */
